<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mountain Style Shopping</title>
    <link rel="icon" type="image/png" href="~/Imagens/ico/Icon_mountain.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            
            @Html.ActionLink("Mountain Style Shopping", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        @*Painel Usuario Logado*@
        @Html.Action("MenuUsuarioLogado", "Componentes")
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Anderson Macedo - Desenvolvimentos Ltda.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
