<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mountain Style Shopping</title>
    <link rel="icon" type="image/png" href="~/Imagens/ico/Icon_mountain.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mountain Style Shopping", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @*Painel Usuario Logado*@
            @Html.Action("MenuUsuarioLogado", "Componentes")
            

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li id="OverView">
                        <a href="@Url.Action("Index", "Administrativo")" ><i class="fa fa-fw fa-dashboard"></i> Over View</a>
                    </li>
                    <li id="Categorias">
                        <a href="@Url.Action("Index", "Categoria")"><i class="fa fa-sitemap" ></i> Categorias</a>
                    </li>
                    <li id="Produtos">
                        <a href="@Url.Action("Index", "Produto")"><i class="fa fa-cubes"></i> Produtos</a>
                    </li>
                    <li id="Clientes">
                        <a href="@Url.Action("Index", "Cliente")"><i class="fa fa-users"></i> Clientes</a>
                    </li>
                    <li id="Usuarios">
                        <a href="@Url.Action("Index", "Usuario")"><i class="fa fa-user"></i> Administradores</a>
                    </li>
                    <li id="Fornecedor">
                        <a href="@Url.Action("Index", "Fornecedor")"><i class="fa fa-database"></i> Fornecedores</a>
                    </li>
                    <li id="Financeiro">
                        <a href="javascript:;" data-toggle="collapse" data-target="#financeiro"><i class="fa fa-money"></i> Financeiro <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="financeiro" class="collapse">
                            <li>
                                <a  href="@Url.Action("Index", "Vendas")"><i class="fa fa-usd"></i> Vendas</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "NotaDeCompra")"><i class="fa fa-clipboard"></i> Compra de produtos</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Encomendas")"><i class="fa fa-cube"></i> Encomenda de fonecedores</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div class="container">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Anderson Macedo - Desenvolvimentos Ltda.</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
