@model MountainStyleShop.ModelNH.Model.Produto

@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Action("MenuCategorias", "Componentes")
    </div>

    <div class="col-md-9">
        <div class="thumbnail">
            <img src="@Model.ImagemPrincipal" alt="@Model.Nome" class="img-responsive" width="350" height="150" >
            <div class="caption-full">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="@Url.Action("ImagemProdutos", "Imagem", new { idProduto = Model.Id })">
                            <div class="list-group-item ">

                                Mais Fotos
                                <span class="badge">@Model.TotalImagens().ToString()</span>

                            </div>
                        </a>
                    </div>
                </div>
                <h4 class="pull-right">
                    R$ @Model.Valor.ToString()
                </h4>

                <h4>
                    @Model.Nome
                </h4>
                @if (Model.DisponivelParaCompra())
                {
                    <div class="text-right">
                        <a class="btn btn-success" href="@Url.Action("Comprar", "Produto", new { idProduto = Model.Id })">Comprar <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert" >
                        <strong>Produto Indisponivel</strong>
                    </div>
                }

                        <b>Descrição:</b><br />
                        <p>@Model.Descricao</p>
                        <b>Fabricante:</b><br />
                        <p>@Model.Fabricante.Nome</p>
                    </div>
            <div class="ratings">
                <p class="pull-right">@Model.QuantidadeAvaliacoes() Avaliações</p>
                <p>
                    <h4>
                        <span class="fa fa-thumbs-o-up"></span>@Model.PercentualBom().ToString("N1")%  
                        <span class="fa fa-thumbs-o-down"></span>@Model.PercentualRuim().ToString("N1")%  
                        <span class="fa fa-quote-right"></span>@Model.PercentualSemNota().ToString("N1")%
                    </h4>
                </p>
            </div>
        </div>
        <div class="well">
            @Html.Action("PainelAvaliacoesProduto", "Avaliacao", new { idProduto = @Model.Id })


            <div id="InseriAvaliacao">
                @if (ViewBag.UsuarioLogado)
                {
                    @Html.Action("FormularioInseriAvaliacao", "Avaliacao", new { idProduto = @Model.Id })
                }
                
            </div>
        </div>

        
    </div>
</div>