@model MountainStyleShop.ModelNH.Model.Produto

@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visualizar</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-warning" href="@Url.Action("Alterar",new { id = Model.Id })" aria-label="Alterar">
        Alterar
    </a>
    <a class="btn btn-info" href="@Url.Action("Index")" aria-label="Voltar">
        Voltar
    </a>
    @*@Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
