@model IEnumerable<MountainStyleShop.ModelNH.Model.Categoria>

@using (Html.BeginForm("ConsultaProdutos", "Produto", FormMethod.Post))
{
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" name="Nome" placeholder="Buscar por nome...">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-info" value="Buscar" />

            </span>
        </div>
        <!-- /input-group -->
    </div>
}

<br />

<div class="panel panel-info">
    <div class="panel-heading" align="center">
        <a data-toggle="collapse" data-target="#listaCategorias"><p class="lead">Categorias <i class="fa fa-sort-desc" aria-hidden="true"></i></p></a>
    </div>
    <ul class="list-group collapse" id="listaCategorias">
        @foreach (var Categoria in (IList<MountainStyleShop.ModelNH.Model.Categoria>)ViewBag.Categorias)
        {
            if (ViewBag.CategoriaAtiva == Categoria.Id)
            {
                <li class="list-group-item active">
                    @Html.DisplayFor(modelItem => Categoria.Nome)
                    <span class="badge">@Html.Label(Categoria.QuantidadeProdutos.ToString())</span>
                </li>
            }
            else
            {
                <a href="@Url.Action("ProdutosCategoria", "Produto",new { idCategoria = Categoria.Id })">
                    <li class="list-group-item">
                        @Html.DisplayFor(modelItem => Categoria.Nome)

                        <span class="badge">@Html.Label(Categoria.QuantidadeProdutos.ToString())</span>
                    </li>
                </a>
            }

        }

    </ul>
</div>
<div style="text-align:center;">
    @Html.ActionLink("Consulta Avançada", "BuscaAvancada", "Produto", null, htmlAttributes: new { @class = "btn btn-info" })
</div>