@model MountainStyleShop.ModelNH.Model.NotaDeCompraFornecedor

@{
    ViewBag.Title = "Adicionar Produto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading"> Dados da Nota de Compra</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                Nome do Fornecedor
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>
            <dt>
                CNPJ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fornecedor.Cnpj)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataDaCompra)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataDaCompra)
            </dd>

            <dt>
                Previsão Entrega
            </dt>
            <dd>
                @Html.DisplayFor(model=>model.DataEntregaPrevista)
            </dd>

            <dt>
                Quantidade de Itens
            </dt>
            <dd>
                @Model.ItensPedidos.Count.ToString()
            </dd>

            

            @if (Model.ProdutoEntregue())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DataDeEntrega)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataDeEntrega)
                </dd>
            }
            

            <dt>
                Valor Total
            </dt>

            <dd>
                R$@Model.ValorTotalNota().ToString("N2")
            </dd>

            <dt>
                Status da Nota
            </dt>
            <dd>
                @if (Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Aberta)
                {
                    <span class="label label-warning">Em aberto</span>
                }
                @if (Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Cancelada)
                {
                    <span class="label label-danger">Cancelada</span>
                }
                @if (Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Encomendado)
                {
                    <span class="label label-info">Encomendado</span>
                }
                @if (Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Concluida)
                {
                    <span class="label label-success">Concluido</span>
                }
            </dd>

            @if (Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Aberta)
            {
                <hr />

                <dt>
                    Confirmar Compra
                </dt>
                <dd>
                    <a class="btn btn-info" href="@Url.Action("ConfirmarCompra","NotaDeCompra", new {id = Model.Id })">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </a>
                </dd>
            }

            @if (Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Encomendado)
            {
                <hr />

                <dt>
                    Confirmar Recebimento
                </dt>
                <dd>
                    <button class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modelConfirmaEntrega">
                        <i class="fa fa-truck"></i>
                    </button>
                </dd>
            }
            

        </dl>
    </div>
</div>
@if(Model.StatusNotaCompra == MountainStyleShop.ModelNH.ENum.EStatusNotaCompraFornecedor.Aberta){
    <div>
        <a class="btn btn-success" href="@Url.Action("Novo", "ItemPedido", new { IdDaNota = Model.Id })" aria-label="Novo">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <br />
}
<div class="panel panel-green">
    <div class="panel-heading">
        <h3 class="panel-title">Lista de Itens Data Nota</h3>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    Impostos
                </th>
                <th>
                    Nome
                </th>

                <th>
                    Categoria
                </th>

                <th>
                    Quantidade
                </th>

                <th>
                    Valor Unitario(Sem Adicionais)
                </th>

                <th>
                    Valor Unitario(Com Adicionais)
                </th>

                <th>
                    Valor Total Item
                </th>

            </tr>

            @foreach (var ItemPedido in Model.ItensPedidos)
            {
                <tr>

                    <td>
                        <a class="btn btn-info" href="@Url.Action("ListaVlrAdd", "ItemPedido", new { IdItemPedido = ItemPedido.Id })" >
                            <i class="fa fa-money"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ItemPedido.Produto.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => ItemPedido.Produto.Categoria.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => ItemPedido.Quantidade)
                    </td>

                    <td>
                        R$@Html.DisplayFor(modelItem => ItemPedido.ValorUnitario)
                    </td>

                    <td>
                        R$@ItemPedido.ValorUnitComVlrAdd().ToString("N2")
                    </td>

                    <td>
                        R$@ItemPedido.ValorTotalItens().ToString("N2")
                    </td>


                    
                </tr>
            }

        </table>
    </div>
</div>

    <p>
        <a class="btn btn-info" href="@Url.Action("Index")" aria-label="Voltar">
            Voltar
        </a>
    </p>


<div class="modal fade" id="modelConfirmaEntrega" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação de recebimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ConfirmaRecebimento", "NotaDeCompra", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="control-label col-md-5">Data da Entrega </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.DataDeEntrega, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DataDeEntrega, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Incluir" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>