@model MountainStyleShop.ModelNH.Model.Usuario

@{
    ViewBag.Title = "Configuracoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3">
        <div>
            <ul class="list-group" id="ListaOpcoesUsuario">
                <a href="@Url.Action("EnderecoUsuario", "Endereco", new {idUsuario = Model.Id})">
                    <li class="list-group-item">Endereços</li>
                </a>
                <a href="@Url.Action("AlteraSenha", "Usuario", new {idUsuario = Model.Id})">
                    <li class="list-group-item">Alterar senha</li>
                </a>
                <a href="@Url.Action("HistoricoCompras", "Usuario", new {idUsuario = Model.Id})">
                    <li class="list-group-item">Minhas compras</li>
                </a>
                <a href="@Url.Action("ItensFavoritos", "Usuario", new {idUsuario = Model.Id})">
                    <li class="list-group-item">Produtos favoritos</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <h3>Bem vindo @Model.Nome</h3>
        <div class="col-lg-5">
            @Html.Action("FormInteresses", "Usuario")
            
        </div>
    </div>
</div>