@model MountainStyleShop.ModelNH.Model.Pessoa

@{
    ViewBag.Title = "Confirma Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Deseja realmente apagar o registro?</h2>

<div>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success" href="@Url.Action("Apagar",new { id = Model.Id })" aria-label="Confimar">
        Confirmar
    </a>
    <a class="btn btn-info" href="@Url.Action("Index")" aria-label="Voltar">
        Voltar
    </a>
    @*@Html.ActionLink("Confirmar", "Apagar", @Model) |
        @Html.ActionLink("Voltar", "Index")*@

</p>
