@model IEnumerable<MountainStyleShop.ModelNH.Model.Pessoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Fornecedores</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-success" href="@Url.Action("Novo", "Fornecedor")" aria-label="Novo">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
    </tr>

@foreach (var Fornecedor in (IList<MountainStyleShop.ModelNH.Model.Pessoa>)ViewBag.Fornecedores)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Fornecedor.Nome)
        </td>
       
        <td>
            @* @Html.ActionLink("Alterar", "Edit", new { id=produto.Id })*@
            <a class="btn btn-warning" href="@Url.Action("Alterar", new { id = Fornecedor.Id })" aria-label="Alterar">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>|
            @*@Html.ActionLink("Visualizar", "Details", new { id=produto.Id })*@
            <a class="btn btn-info" href="@Url.Action("Visualizar", new { id = Fornecedor.Id })" aria-label="Visualizar">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </a> |
            <a class="btn btn-danger" href="@Url.Action("ConfirmaDelete", new { id=Fornecedor.Id })" aria-label="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
}

</table>
