@model MountainStyleShop.ModelNH.Model.Fornecedor

@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Visualizando Fornecedor</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cnpj)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>


        </dl>

        <p>
            <a class="btn btn-warning" href="@Url.Action("Alterar",new { id = Model.Id })" aria-label="Alterar">
                Alterar
            </a>
            <a class="btn btn-info" href="@Url.Action("Index")" aria-label="Voltar">
                Voltar
            </a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>
</div>
